
@media screen and (min-width:200px) and (max-width:480px)
{
    #home {
      width: 100px;
    }
    .BOX{
        height: 42vh !important;
    }
}
@media screen and (min-width:480px) and (max-width:768px)
{
    #home {
      width: 100px;
    }
    .BOX{
        height: 42vh !important;
    }
}
@media screen and (min-width:768px) and (max-width:1100px)
{
    #home {
      width: 100px;
    }
    .BOX{
        height: 43vh !important;
    }
}
@media screen and (min-width:1100px) and (max-width:1600px)
{
    #home {
      width: 100px;
    }
}

.navone{
    background-color: blue;
    padding: 8px;
}
span{
    color: white;
}
#info{
    text-align: center;
}
#mahad{
    text-align: center;
}
#logo{
    margin-left: 20%;
    margin-top: 2%;
}
#register{
    margin-left: 35%;
    margin-top: 3%;
}
.navbar{
    border-bottom: 5px solid blue;
}  
.navbar-brand{
    margin-left: 8.5%;
    width: 6.5%;
}
#home{
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    height: 40px;
}
#hover:hover{
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
}
#LMS:hover{
    background-color: blue;
    color: white;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
}
#featured{
    margin-top: 4%;
    font-weight: bold;
    color: gray;
    text-align: center;
}
/* #courses{
    font-weight: 500;
} */
#courses:hover{
    font-weight: 600;
}
#aboutus{
    background-color: #2588b6;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 2%;
    padding: 50px;
}
#hr{
    width: 20%;
    margin-left: 40%;
}
#online{
    margin-top: 2%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.BOX{
    margin-top: 10%;
    text-align: center;
    width: auto;
    height: 38vh;
    border: 1px solid rgba(88, 87, 87, 0.125);
    border-radius: 0.25rem;
}
#footer{
    background-color: #2588b6;
    padding: 50px;
    text-align: center;
}

#fontawesome{
    font-size: 35px;
}
#social{
    margin-top:9%;
}
#form{
    height: 50vh;
}